@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Assignment" Href="/goals" Match="NavLinkMatch.All">Goals</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Fastfood" Href="/meals" Match="NavLinkMatch.All">Meals</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Fastfood" Href="/foods" Match="NavLinkMatch.All">Foods</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Fastfood" Href="/recipes" Match="NavLinkMatch.All">Recipes</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Icon="@Icons.Material.Filled.Person2" Href="Account/Manage" Match="NavLinkMatch.All">@context.User.Identity?.Name</MudNavLink>
            
            <div class="mud-nav-item"> 
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <MudButton StartIcon="@Icons.Material.Filled.ArrowLeft" ButtonType="ButtonType.Submit">Logout</MudButton>
                    
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Icon="@Icons.Material.Filled.Person2" Href="Account/Register" Match="NavLinkMatch.All">Register</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Person" Href="Account/Login" Match="NavLinkMatch.All">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>

</MudNavMenu>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

